<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <style>
      table {
        margin-top: 100px;
        margin-left: 100px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 50%;
        border: 1px solid #ddd;
      }

      th,
      td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }
    </style>
    <meta charset="utf-8">
    <title>enrolled students</title>
  </head>

  <body>










    <h2 align="center"><%=x[0].Subject.SubjectName %></h2>


    <table>
      <tr>
        <th>Name</th>
        <th>Score</th>

      </tr>
      <% x.forEach(function(data){ %>
        <tr>
          <td>
            <%=data.Student.firstName%>
              <%=data.Student.lastName%>
          </td>
          <td>


            <%  if(data.score == null){ %>
              <a href="/subjects/<%=data.Student.id%>/give-score">Give score</a>
              <% } else { %>
                <%= data.score%>

                  <%    } %>
          </td>
          <% }) %>
        </tr>
    </table>





  </body>

</html>