<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Page</title>
</head>
<body>
    <h1>Students Data</h1>
    <a href="/student/add">Add Student</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <% dataStudent.forEach((dataStudent) => { %>
                <tr>
                <td><%= dataStudent.id %></td>
                <td><%= dataStudent.first_name %></td>
                <td><%= dataStudent.last_name %></td>
                <td><%= dataStudent.email %></td>
                <td><a href="/student/<%=dataStudent.id%>/add-subject">Add Subject</a>
                <td><a href="/student/edit/<%=dataStudent.id%>">Edit</a><a href="/student/delete/<%=dataStudent.id%>"> | Delete</a></td></td>
            <%})%>
                </tr>
        </tbody>
    </table> 
    <button><a href="/">Back</a></button>
</body>
</html>