<html>
<head>
  <title>Students Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px 0px">
  <div class="container">
      <p>Go to <a href="/">Home</a></p>
  </div>
  <div class="container">
    <h2 align="center">Students Data</h2>
  </div>
  <div class="container text-center">
    <button type="button" class="btn btn-info" onclick="window.location.href='/student/add'">Add Student</button>
  </div>
  <div class="container">
  </br>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>ID</id>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(student => { %>
               <tr>
                 <td>
                   <%= student.id %>
                 </td>
                 <td>
                   <%= student.firstName %>
                 </td>
                 <td>
                   <%= student.lastName %>
                 </td>
                 <td>
                   <%= student.email %>
                 </td>
                 <td>
                   <a href="/student/<%= student.id%>/add-subject">Add Subject</a>
                 </td>
                 <td>
                   <a href="/student/edit/<%= student.id%>" class="btn btn-warning">Edit</a>
                   <a href="/student/delete/<%= student.id %>" class="btn btn-danger">Delete</a>
                 </td>
               </tr>
               <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
