<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
        
</head>
<body>
    <h1>All Student Data</h1>
    <p>
        <a href="/">Home</a><br>
        <a href="/student/add"> Add Teachers Data</a>
    </p>
    <table style="width:100%">
        <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Actions</th>
              <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <% dataStudents.forEach(function(student){ %>
                <tr>
                    <td><%= student.id %></td>
                    <td><%= student.first_name %></td>
                    <td><%= student.last_name %></td>
                    <td><%= student.email %></td>
                    <td>
                        <% if(student.Subjects.length === 0){ %>
                            <a href="/students/<%= student.id%>/add-subject">Add Subject</a>
                        <% }else{ %>
                            <%= student.Subjects.subject_name %>
                        <% } %>
                    </td>
                    <td>
                        <a href="/students/edit/<%= student.id %>">Edit</a> ||
                        <a href="/students/delete/<%= student.id%>" onclick="return confirm(`delete <%= student.first_name %> from teachers ?`)">Delete</a>
                    </td>
                </tr>
            <%})%>
        </tbody>  
   </table>    
</body>
</html>