<%- include('../header/header') -%>
  <main role="main" class="container" style=" padding: 5rem 1.5rem;">

    <div class="content" style="text-align: center;">
      <h2>Add Subject to Student</h2>
    </div>
    <br>
    <% if (error !== null) { %>
      <div class="alert alert-danger"><%= error %></div>
    <%} %>
    <form action="/students/<%=dataStudent.id%>/add-subject" method="POST">
      <table class="table mt-5 table-striped">
        <tbody>
          <tr>
            <td>First Name</td>
            <td><%= dataStudent.firstName %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><%= dataStudent.lastName %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= dataStudent.email %></td>
          </tr>
        </tbody>
      </table>
      <select class="form-control" name = "subjectId" id="formSubject">
        <% dataSubject.forEach(subject => { %>
          <option value = "<%= subject.id %>"><%= subject.subjectName %></option>
        <% })%>
      </select>
      <br>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </main><!-- /.container -->
<%- include('../script/script')-%>