<%- include('../header/header') -%>
  <main role="main" class="container" style=" padding: 5rem 1.5rem; text-align: center;">
    <div class="content">
      <h2>Teachers Data</h2>

      <%if ( error !== null) {%>
      <div class="alert alert-danger">error</div>
      <%} %>
      <a class="btn btn-sm btn-info " href="/teachers/add" role="button" >Add Teacher</a>

      <table class="table mt-5 table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Subject</th>
          <th scope="col">Option</th>
        </tr>
        </thead>
        <tbody>
        <% dataTeachers.forEach(teacher => { %>
          <tr>
            <th scope="row"><%= teacher.id %></th>
            <td><%= teacher.firstName %></td>
            <td><%= teacher.lastName %></td>
            <td><%= teacher.email %></td>
            <%if (teacher.Subject == null) {%>
            <td>unassigned</td>
            <%} else {%>
            <td><%= teacher.Subject.subjectName %></td>
            <%}%>
            <td>
            <a class="text-info" href="/teachers/edit/<%= teacher.id%>" >edit</a>
            <span>|</span>
            <a class="text-info" href ="/teachers/delete/<%= teacher.id%>" onclick="return confirm('Are you sure to delete this item?')">delete</a>
            </td>
          </tr>
        <% })%>
        </tbody>
      </table>
    </div>
  </main>
<%- include('../script/script')-%>
